# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual env
.venv/
venv/

# vscode
.vscode/

# OpenFOAM runtime
processor*/
postProcessing/
logs/
*.foam

# CFD outputs
constant/polyMesh/

# geometry outputs
geometry/generated_profiles/

# OS
.DS_Store
Thumbs.db
configs/paths.yaml

# generated CFD data
**/run/
**/airfoil_surrogate_cases/

# BACKUP folder
BACKUP*

#NPZ files
*.npz

#DATA
data/

#TESTS
tests/
templates/openfoam_base_case_yPlus1_potentialFoam/0/k
templates/openfoam_base_case_yPlus1_potentialFoam/0/nut
templates/openfoam_base_case_yPlus1_potentialFoam/0/omega
templates/openfoam_base_case_yPlus1_potentialFoam/0/p
templates/openfoam_base_case_yPlus1_potentialFoam/0/U
templates/openfoam_base_case_yPlus1_potentialFoam/constant/transportProperties
templates/openfoam_base_case_yPlus1_potentialFoam/constant/turbulenceProperties
templates/openfoam_base_case_yPlus1_potentialFoam/system/blockMeshDict
templates/openfoam_base_case_yPlus1_potentialFoam/system/controlDict
templates/openfoam_base_case_yPlus1_potentialFoam/system/decomposeParDict
templates/openfoam_base_case_yPlus1_potentialFoam/system/forceCoeffs
templates/openfoam_base_case_yPlus1_potentialFoam/system/fvSchemes
templates/openfoam_base_case_yPlus1_potentialFoam/system/fvSolution
